openapi: 3.1.0
info:
  title: Meow Accounts Collection Accounts API
  description: '## Overview


    The Meow API provides financial services and billing capabilities for your business.


    ### Core Features


    - **Financial data access**: access account information, transactions, balances, and payment networks.

    - **Crypto operations**: create and manage crypto contacts, and initiate USDC transfers across blockchain networks.


    ### Billing API


    The Billing API lets you create and manage invoices and collect payments:


    - **Product management**: create and manage products with custom pricing.

    - **Customer management**: maintain invoicing customers with their addresses.

    - **Invoice creation**: generate invoices with line items, discounts, and custom notes.

    - **Payment options**: accept payments via ACH, wire, international wire, card, and USDC.

    - **Collection accounts**: configure accounts for payment collection.


    ### Getting Started


    Authenticate by sending your API key in the `x-api-key` request header.


    To scope requests to a specific entity, include the `x-entity-id` header. Use the `/api-keys/accessible-entities` endpoint to list all entities accessible by your API key.


    ### Error Responses


    Errors return JSON with `code`, `message`, and `debug_message`. The `code` aligns with FDX where possible; use `debug_message` for troubleshooting only.


    Common error codes:


    - `500`: Internal server error

    - `501`: Subsystem unavailable

    - `503`: Scheduled maintenance

    - `601`: Data not found

    - `602`: Customer not authorized

    - `701`: Account not found

    - `703`: Invalid input (including invalid date ranges)

    - `704`: Account type not supported

    - `705`: Account is closed

    - `801`: Transaction not found

    '
  contact:
    name: Meow
    url: https://meow.com/
    email: support@meow.com
  version: 1.0.0
  license:
    name: Proprietary
    url: https://www.meow.com/terms-of-service
servers:
- url: https://api.meow.com/v1
  description: Meow API Production
- url: https://api.sandbox.meow.com/v1
  description: Meow API Sandbox
security:
- apiKeyAuth: []
tags:
- name: Collection Accounts
  description: Manage accounts for payment collection.
paths:
  /billing/accounts:
    get:
      tags:
      - Collection Accounts
      summary: List Collection Accounts
      description: Returns the collection accounts you can use to collect invoice payments. Only open, unlocked accounts are returned, with your primary account first.
      operationId: list_billing_accounts_billing_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccounts'
      security:
      - apiKeyAuth:
        - billing:accounts:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
components:
  parameters:
    EntityIdHeader:
      name: x-entity-id
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Optional `entity_id` to scope requests to a specific entity.
  schemas:
    BillingAccounts:
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/BillingAccount'
          type: array
          title: Accounts
          description: List of available collection accounts for invoices.
      type: object
      required:
      - accounts
      title: BillingAccounts
      description: 'List of billing accounts available for invoice collection.


        Accounts are sorted with primary accounts first, then by display name.'
    BillingAccount:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The account ID to use as `collection_account_id` when creating invoices.
        display_name:
          type: string
          title: Display Name
          description: The display name of the account.
        account_number_mask:
          type: string
          title: Account Number Mask
          description: Masked account number showing only the last 4 digits.
          examples:
          - ••1234
        status:
          type: string
          title: Status
          description: The status of the account.
          examples:
          - open
          - closed
        is_primary:
          type: boolean
          title: Is Primary
          description: Whether this is the primary operational account.
        banking_product:
          type: string
          title: Banking Product
          description: The bank this account is held at.
      type: object
      required:
      - id
      - display_name
      - account_number_mask
      - status
      - is_primary
      - banking_product
      title: BillingAccount
      description: 'A checking account that can receive invoice payments.


        Only includes accounts that are open and not locked.'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your Meow API key, sent in the `x-api-key` header for authentication.
      x-scopes:
      - accounts:read
      - accounts:write
      - accounts:payment-networks
      - accounts:transactions
      - accounts:balances
      - accounts:statements
      - accounts:tax-documents
      - entity:create
      - transfers:crypto:write
      - transfers:usdc:write
      - transfers:ach:write
      - transfers:wire:write
      - transfers:book:write
      - contacts:read
      - contacts:write
      - billing:products:read
      - billing:products:write
      - billing:customers:read
      - billing:customers:write
      - billing:invoices:read
      - billing:invoices:write
      - billing:accounts:read
      - billpay:read
      - billpay:write
      - onboarding:read
      - onboarding:write
      - cards:read
      - cards:write
      - webhooks:read
      - webhooks:write
      - partner:onboarding:read
      - partner:onboarding:write
      - partner:webhooks:read
      - partner:webhooks:write
      - simulations:write
      - banking:limits:read
      - banking:limits:write
x-tagGroups:
- name: Core API
  tags:
  - API Keys
  - Contacts
  - Accounts
  - Transactions
  - Balances
  - Payment Networks
  - Transfers
  - Routing Numbers
  - Cards
  - Tax Forms
  - Webhooks
- name: Bill Pay
  tags:
  - Bills
- name: Billing
  tags:
  - Products
  - Customers
  - Invoices
  - Line Items
  - Payment Methods
  - Collection Accounts
- name: Partner Onboarding
  tags:
  - Partner Onboarding
- name: Sandbox
  tags:
  - Simulations
