openapi: 3.1.0
info:
  title: Meow Accounts Payment Networks API
  description: '## Overview


    The Meow API provides financial services and billing capabilities for your business.


    ### Core Features


    - **Financial data access**: access account information, transactions, balances, and payment networks.

    - **Crypto operations**: create and manage crypto contacts, and initiate USDC transfers across blockchain networks.


    ### Billing API


    The Billing API lets you create and manage invoices and collect payments:


    - **Product management**: create and manage products with custom pricing.

    - **Customer management**: maintain invoicing customers with their addresses.

    - **Invoice creation**: generate invoices with line items, discounts, and custom notes.

    - **Payment options**: accept payments via ACH, wire, international wire, card, and USDC.

    - **Collection accounts**: configure accounts for payment collection.


    ### Getting Started


    Authenticate by sending your API key in the `x-api-key` request header.


    To scope requests to a specific entity, include the `x-entity-id` header. Use the `/api-keys/accessible-entities` endpoint to list all entities accessible by your API key.


    ### Error Responses


    Errors return JSON with `code`, `message`, and `debug_message`. The `code` aligns with FDX where possible; use `debug_message` for troubleshooting only.


    Common error codes:


    - `500`: Internal server error

    - `501`: Subsystem unavailable

    - `503`: Scheduled maintenance

    - `601`: Data not found

    - `602`: Customer not authorized

    - `701`: Account not found

    - `703`: Invalid input (including invalid date ranges)

    - `704`: Account type not supported

    - `705`: Account is closed

    - `801`: Transaction not found

    '
  contact:
    name: Meow
    url: https://meow.com/
    email: support@meow.com
  version: 1.0.0
  license:
    name: Proprietary
    url: https://www.meow.com/terms-of-service
servers:
- url: https://api.meow.com/v1
  description: Meow API Production
- url: https://api.sandbox.meow.com/v1
  description: Meow API Sandbox
security:
- apiKeyAuth: []
tags:
- name: Payment Networks
  description: Manage payment networks and routing information.
paths:
  /accounts/{account_id}/payment-networks:
    get:
      tags:
      - Payment Networks
      summary: List Payment Networks for an Account
      description: Returns the payment networks supported by a specified account.
      operationId: list_account_payment_networks_accounts__account_id__payment_networks_get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Offset
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentNetworkList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:payment-networks
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AccountType:
      type: string
      enum:
      - BROKERAGEPRODUCT
      - CHECKING
      - MONEYMARKET
      - SAVINGS
      - TAXABLE
      title: AccountType
    AccountPaymentNetworkList:
      properties:
        page:
          anyOf:
          - $ref: '#/components/schemas/PageMetadata'
          - type: 'null'
          description: Metadata for pagination.
        paymentNetworks:
          items:
            $ref: '#/components/schemas/AccountPaymentNetwork'
          type: array
          minItems: 0
          title: Paymentnetworks
          description: Array of payment networks, or an empty array if none are available. Not all accounts support every network; for example, a prepaid debit card account does not support ACH.
          examples:
          - - bankId: 010088889
              identifier: '1111222233335820'
              transferIn: true
              transferOut: true
              type: US_ACH
          - - bankId: 010088889
              identifier: '1111222233335820'
              transferIn: true
              transferOut: true
              type: US_ACH
            - identifier: '0x1234567890abcdef1234567890abcdef12345678'
              network: ETHEREUM
              transferIn: true
              transferOut: true
              type: USDC
          - - identifier: 8xDc123456789abcdef123456789abcdef123456789abcdef
              network: SOLANA
              transferIn: true
              transferOut: true
              type: USDC
      type: object
      required:
      - paymentNetworks
      title: AccountPaymentNetworkList
    PaymentNetworkType:
      type: string
      enum:
      - US_ACH
      - US_FEDWIRE
      - US_CHIPS
      - CA_ACSS
      - CA_LVTS
      - USDC
      - USDT
      title: PaymentNetworkType
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AccountPaymentNetwork:
      properties:
        bankId:
          anyOf:
          - type: string
          - type: 'null'
          title: Bankid
          description: The bank identifier used by this payment network, such as the routing number for ACH and wire.
        identifier:
          anyOf:
          - type: string
          - type: 'null'
          title: Identifier
          description: The number used to identify the account within the payment network.
        type:
          $ref: '#/components/schemas/PaymentNetworkType'
          description: The type of payment network.
        transferIn:
          type: boolean
          title: Transferin
          description: Whether the account can currently receive transfers (be credited) through this payment network.
        transferOut:
          type: boolean
          title: Transferout
          description: Whether the account can currently send transfers (be debited) through this payment network.
        network:
          anyOf:
          - $ref: '#/components/schemas/BlockchainNetwork'
          - type: 'null'
          description: The blockchain network for crypto payment networks.
        bankName:
          anyOf:
          - type: string
          - type: 'null'
          title: Bankname
          description: Name of the bank for wire/ACH deposits.
        bankAddress:
          anyOf:
          - type: string
          - type: 'null'
          title: Bankaddress
          description: Address of the bank for wire/ACH deposits.
        beneficiaryName:
          anyOf:
          - type: string
          - type: 'null'
          title: Beneficiaryname
          description: Name of the beneficiary for wire/ACH deposits.
        beneficiaryAddress:
          anyOf:
          - type: string
          - type: 'null'
          title: Beneficiaryaddress
          description: Address of the beneficiary for wire/ACH deposits.
        accountType:
          anyOf:
          - $ref: '#/components/schemas/AccountType'
          - type: 'null'
          description: The type of account (e.g. CHECKING, SAVINGS).
        swiftCode:
          anyOf:
          - type: string
          - type: 'null'
          title: Swiftcode
          description: SWIFT/BIC code of the beneficiary bank for international wires.
        intermediaryBank:
          anyOf:
          - $ref: '#/components/schemas/IntermediaryBankSWIFT'
          - type: 'null'
          description: Intermediary bank details for international wire transfers.
        fiToFiReference:
          anyOf:
          - type: string
          - type: 'null'
          title: Fitofireference
          description: FI-to-FI reference for international wire transfers.
      type: object
      required:
      - type
      - transferIn
      - transferOut
      title: AccountPaymentNetwork
    PageMetadata:
      properties:
        nextOffset:
          anyOf:
          - type: string
          - type: 'null'
          title: Nextoffset
          description: Opaque offset identifier.
          examples:
          - qwer123454q2f
      type: object
      title: PageMetadata
    BlockchainNetwork:
      type: string
      enum:
      - ARBITRUM
      - AVALANCHE_C_CHAIN
      - BASE
      - ETHEREUM
      - OPTIMISM
      - POLYGON
      - SOLANA
      - STELLAR
      - SUI
      - TEMPO
      - TRON
      title: BlockchainNetwork
    IntermediaryBankSWIFT:
      properties:
        swift:
          type: string
          title: Swift
        bank_name:
          type: string
          title: Bank Name
        bank_address:
          type: string
          title: Bank Address
      type: object
      required:
      - swift
      - bank_name
      - bank_address
      title: IntermediaryBankSWIFT
  parameters:
    EntityIdHeader:
      name: x-entity-id
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Optional `entity_id` to scope requests to a specific entity.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your Meow API key, sent in the `x-api-key` header for authentication.
      x-scopes:
      - accounts:read
      - accounts:write
      - accounts:payment-networks
      - accounts:transactions
      - accounts:balances
      - accounts:statements
      - accounts:tax-documents
      - entity:create
      - transfers:crypto:write
      - transfers:usdc:write
      - transfers:ach:write
      - transfers:wire:write
      - transfers:book:write
      - contacts:read
      - contacts:write
      - billing:products:read
      - billing:products:write
      - billing:customers:read
      - billing:customers:write
      - billing:invoices:read
      - billing:invoices:write
      - billing:accounts:read
      - billpay:read
      - billpay:write
      - onboarding:read
      - onboarding:write
      - cards:read
      - cards:write
      - webhooks:read
      - webhooks:write
      - partner:onboarding:read
      - partner:onboarding:write
      - partner:webhooks:read
      - partner:webhooks:write
      - simulations:write
      - banking:limits:read
      - banking:limits:write
x-tagGroups:
- name: Core API
  tags:
  - API Keys
  - Contacts
  - Accounts
  - Transactions
  - Balances
  - Payment Networks
  - Transfers
  - Routing Numbers
  - Cards
  - Tax Forms
  - Webhooks
- name: Bill Pay
  tags:
  - Bills
- name: Billing
  tags:
  - Products
  - Customers
  - Invoices
  - Line Items
  - Payment Methods
  - Collection Accounts
- name: Partner Onboarding
  tags:
  - Partner Onboarding
- name: Sandbox
  tags:
  - Simulations
