openapi: 3.1.0
info:
  title: Meow Accounts Tax Forms API
  description: '## Overview


    The Meow API provides financial services and billing capabilities for your business.


    ### Core Features


    - **Financial data access**: access account information, transactions, balances, and payment networks.

    - **Crypto operations**: create and manage crypto contacts, and initiate USDC transfers across blockchain networks.


    ### Billing API


    The Billing API lets you create and manage invoices and collect payments:


    - **Product management**: create and manage products with custom pricing.

    - **Customer management**: maintain invoicing customers with their addresses.

    - **Invoice creation**: generate invoices with line items, discounts, and custom notes.

    - **Payment options**: accept payments via ACH, wire, international wire, card, and USDC.

    - **Collection accounts**: configure accounts for payment collection.


    ### Getting Started


    Authenticate by sending your API key in the `x-api-key` request header.


    To scope requests to a specific entity, include the `x-entity-id` header. Use the `/api-keys/accessible-entities` endpoint to list all entities accessible by your API key.


    ### Error Responses


    Errors return JSON with `code`, `message`, and `debug_message`. The `code` aligns with FDX where possible; use `debug_message` for troubleshooting only.


    Common error codes:


    - `500`: Internal server error

    - `501`: Subsystem unavailable

    - `503`: Scheduled maintenance

    - `601`: Data not found

    - `602`: Customer not authorized

    - `701`: Account not found

    - `703`: Invalid input (including invalid date ranges)

    - `704`: Account type not supported

    - `705`: Account is closed

    - `801`: Transaction not found

    '
  contact:
    name: Meow
    url: https://meow.com/
    email: support@meow.com
  version: 1.0.0
  license:
    name: Proprietary
    url: https://www.meow.com/terms-of-service
servers:
- url: https://api.meow.com/v1
  description: Meow API Production
- url: https://api.sandbox.meow.com/v1
  description: Meow API Sandbox
security:
- apiKeyAuth: []
tags:
- name: Tax Forms
  description: Retrieve IRS tax forms (1099 family) issued for accounts.
paths:
  /tax-forms:
    get:
      tags:
      - Tax Forms
      summary: Search Tax Forms
      description: Returns IRS tax forms (the 1099 family) issued for the specified account. Currently supports `Tax1099Int` for bank accounts; brokerage and wallet accounts return an empty list until additional form types are exposed.
      operationId: search_tax_forms_tax_forms_get
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
          description: The account ID to list tax forms for.
          title: Accountid
        description: The account ID to list tax forms for.
      - name: taxYear
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Optional filter to a specific tax year.
          title: Taxyear
        description: Optional filter to a specific tax year.
      - name: taxForms
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/TaxFormType'
          - type: 'null'
          description: Filter to one or more form types, such as `Tax1099Int` or `Tax1099Div`. Repeat the parameter to pass several.
          title: Taxforms
        description: Filter to one or more form types, such as `Tax1099Int` or `Tax1099Div`. Repeat the parameter to pass several.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFormList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:tax-documents
  /tax-forms/{taxFormId}:
    get:
      tags:
      - Tax Forms
      summary: Retrieve Tax Form
      description: Returns a time-limited download URL for the tax form. Use a `taxFormId` from the search endpoint; the value is opaque, so do not construct it yourself.
      operationId: get_tax_form_tax_forms__taxFormId__get
      parameters:
      - name: taxFormId
        in: path
        required: true
        schema:
          type: string
          description: The tax form ID. Use a value from the search endpoint; it is opaque, so do not construct it yourself.
          title: Taxformid
        description: The tax form ID. Use a value from the search endpoint; it is opaque, so do not construct it yourself.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFormDownload'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:tax-documents
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    TaxFormList:
      properties:
        tax_forms:
          items:
            $ref: '#/components/schemas/TaxFormDescriptor'
          type: array
          title: Tax Forms
          description: Tax forms issued for this account. Empty if none have been issued, or none match your year and form-type filters.
      type: object
      required:
      - tax_forms
      title: TaxFormList
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TaxFormDescriptor:
      properties:
        tax_form_id:
          type: string
          title: Tax Form Id
          description: Identifier for this tax form. Pass it to the retrieve endpoint to get a download URL.
        tax_year:
          type: integer
          title: Tax Year
          description: The tax year the form covers.
        tax_form_type:
          $ref: '#/components/schemas/TaxFormType'
          description: Form type, such as `Tax1099Int`, `Tax1099Div`, `Tax1099B`, or `Tax1099`.
      type: object
      required:
      - tax_form_id
      - tax_year
      - tax_form_type
      title: TaxFormDescriptor
    TaxFormType:
      type: string
      enum:
      - Tax1099Int
      - Tax1099Div
      - Tax1099B
      - Tax1099
      title: TaxFormType
    TaxFormDownload:
      properties:
        tax_form_id:
          type: string
          title: Tax Form Id
        account_id:
          type: string
          title: Account Id
        tax_year:
          type: integer
          title: Tax Year
        tax_form_type:
          $ref: '#/components/schemas/TaxFormType'
        download_url:
          type: string
          title: Download Url
          description: Time-limited URL to download the tax form PDF.
        expires_at:
          type: string
          format: date-time
          title: Expires At
          description: When the download URL expires.
      type: object
      required:
      - tax_form_id
      - account_id
      - tax_year
      - tax_form_type
      - download_url
      - expires_at
      title: TaxFormDownload
  parameters:
    EntityIdHeader:
      name: x-entity-id
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Optional `entity_id` to scope requests to a specific entity.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your Meow API key, sent in the `x-api-key` header for authentication.
      x-scopes:
      - accounts:read
      - accounts:write
      - accounts:payment-networks
      - accounts:transactions
      - accounts:balances
      - accounts:statements
      - accounts:tax-documents
      - entity:create
      - transfers:crypto:write
      - transfers:usdc:write
      - transfers:ach:write
      - transfers:wire:write
      - transfers:book:write
      - contacts:read
      - contacts:write
      - billing:products:read
      - billing:products:write
      - billing:customers:read
      - billing:customers:write
      - billing:invoices:read
      - billing:invoices:write
      - billing:accounts:read
      - billpay:read
      - billpay:write
      - onboarding:read
      - onboarding:write
      - cards:read
      - cards:write
      - webhooks:read
      - webhooks:write
      - partner:onboarding:read
      - partner:onboarding:write
      - partner:webhooks:read
      - partner:webhooks:write
      - simulations:write
      - banking:limits:read
      - banking:limits:write
x-tagGroups:
- name: Core API
  tags:
  - API Keys
  - Contacts
  - Accounts
  - Transactions
  - Balances
  - Payment Networks
  - Transfers
  - Routing Numbers
  - Cards
  - Tax Forms
  - Webhooks
- name: Bill Pay
  tags:
  - Bills
- name: Billing
  tags:
  - Products
  - Customers
  - Invoices
  - Line Items
  - Payment Methods
  - Collection Accounts
- name: Partner Onboarding
  tags:
  - Partner Onboarding
- name: Sandbox
  tags:
  - Simulations
