openapi: 3.1.0
info:
  title: Meow API
  description: '## Overview


    The Meow API provides financial services and billing capabilities for your business.


    ### Core Features


    - **Financial data access**: access account information, transactions, balances,
    and payment networks.

    - **Crypto operations**: create and manage crypto contacts, and initiate USDC
    transfers across blockchain networks.


    ### Billing API


    The Billing API lets you create and manage invoices and collect payments:


    - **Product management**: create and manage products with custom pricing.

    - **Customer management**: maintain invoicing customers with their addresses.

    - **Invoice creation**: generate invoices with line items, discounts, and custom
    notes.

    - **Payment options**: accept payments via ACH, wire, international wire, card,
    and USDC.

    - **Collection accounts**: configure accounts for payment collection.


    ### Getting Started


    Authenticate by sending your API key in the `x-api-key` request header.


    To scope requests to a specific entity, include the `x-entity-id` header. Use
    the `/api-keys/accessible-entities` endpoint to list all entities accessible by
    your API key.


    ### Error Responses


    Errors return JSON with `code`, `message`, and `debug_message`. The `code` aligns
    with FDX where possible; use `debug_message` for troubleshooting only.


    Common error codes:


    - `500`: Internal server error

    - `501`: Subsystem unavailable

    - `503`: Scheduled maintenance

    - `601`: Data not found

    - `602`: Customer not authorized

    - `701`: Account not found

    - `703`: Invalid input (including invalid date ranges)

    - `704`: Account type not supported

    - `705`: Account is closed

    - `801`: Transaction not found

    '
  contact:
    name: Meow
    url: https://meow.com/
    email: support@meow.com
  version: 1.0.0
  license:
    name: Proprietary
    url: https://www.meow.com/terms-of-service
servers:
- url: https://api.meow.com/v1
  description: Meow API Production
- url: https://api.sandbox.meow.com/v1
  description: Meow API Sandbox
paths:
  /contacts:
    post:
      tags:
      - Contacts
      summary: Create Contact
      description: Creates a new contact with either ACH, wire, or check payment details
        or a USDC crypto address.
      operationId: create_contact_contacts_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApiContact'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - contacts:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
    get:
      tags:
      - Contacts
      summary: List Contacts
      description: Returns a paginated list of contacts, ordered by nickname. Use
        the `limit` and `offset` query parameters to page through results.
      operationId: list_contacts_contacts_get
      parameters:
      - name: nickname_query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional filter to search contacts by nickname.
          title: Nickname Query
        description: Optional filter to search contacts by nickname.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 10
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            maxLength: 100
          - type: 'null'
          description: Opaque offset identifier for pagination. Use the nextOffset
            from a previous response.
          title: Offset
        description: Opaque offset identifier for pagination. Use the nextOffset from
          a previous response.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApiContactsList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - contacts:read
  /contacts/{contact_id}:
    delete:
      tags:
      - Contacts
      summary: Delete Contact
      description: Deletes a contact.
      operationId: delete_contact_contacts__contact_id__delete
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The unique identifier of the contact.
          title: Contact Id
        description: The unique identifier of the contact.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - contacts:write
    patch:
      tags:
      - Contacts
      summary: Update Contact
      description: Updates an existing contact and optionally adds new payment methods.
      operationId: update_contact_contacts__contact_id__patch
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The unique identifier of the contact.
          title: Contact Id
        description: The unique identifier of the contact.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApiContact'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - contacts:write
    get:
      tags:
      - Contacts
      summary: Get Contact
      description: Returns details of a specific contact.
      operationId: get_contact_contacts__contact_id__get
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Contact Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApiContact'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - contacts:read
  /accounts:
    get:
      tags:
      - Accounts
      summary: List Bank Accounts
      description: Returns a list of bank accounts.
      operationId: list_accounts_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
      security:
      - apiKeyAuth:
        - accounts:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
    post:
      tags:
      - Accounts
      summary: Create Bank Account
      description: Opens an additional bank account under the given `product`. You
        must already have an open account of that product, and your business must
        have completed verification. The account may open immediately (status `created`,
        with `account_id`) or in the background (status `processing`); when `processing`,
        poll `GET /accounts` until the account appears.
      operationId: create_account_accounts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /accounts/{account_id}:
    get:
      tags:
      - Accounts
      summary: Get Account Details
      description: Returns detailed information about a specified bank account.
      operationId: get_account_handler_accounts__account_id__get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithDetails'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:read
    patch:
      tags:
      - Accounts
      summary: Update Bank Account
      description: Updates a bank account's `nickname` (display name), shown in the
        dashboard to distinguish it from other accounts. Supported for checking accounts
        (grasshopper, tcb, firstbank) and crb accounts. The nickname must be unique
        among your accounts.
      operationId: update_account_accounts__account_id__patch
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the bank account to update.
          title: Account Id
        description: The ID of the bank account to update.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:write
  /accounts/{account_id}/close:
    post:
      tags:
      - Accounts
      summary: Close a Bank Account
      description: Closes a bank account. The account must have a zero balance and
        no active cards, scheduled payments, or open invoices. Cancel or remove those
        first. Supported for checking accounts (grasshopper, tcb, firstbank) and crb
        accounts. Some accounts close immediately (status `closed`); others process
        the close asynchronously (status `close_pending`), in which case poll `GET
        /accounts/{account_id}` until its `status` reads `CLOSED`.
      operationId: close_account_accounts__account_id__close_post
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the bank account to close.
          title: Account Id
        description: The ID of the bank account to close.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseAccountResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:write
  /accounts/{account_id}/transactions:
    get:
      tags:
      - Transactions
      summary: List Transactions for an Account
      description: Returns a list of transactions for a specified account.
      operationId: list_account_transactions_accounts__account_id__transactions_get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: startTime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 0
            maxLength: 100
          - type: 'null'
          description: Start time for filtering transactions, in ISO 8601 format.
          title: Starttime
        description: Start time for filtering transactions, in ISO 8601 format.
      - name: endTime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 0
            maxLength: 100
          - type: 'null'
          description: End time for filtering transactions, in ISO 8601 format.
          title: Endtime
        description: End time for filtering transactions, in ISO 8601 format.
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            maxLength: 100
          - type: 'null'
          description: Opaque offset identifier for pagination. Use the `nextOffset`
            from a previous response.
          title: Offset
        description: Opaque offset identifier for pagination. Use the `nextOffset`
          from a previous response.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            maximum: 100
            minimum: 1
          - type: 'null'
          description: Maximum number of transactions to return.
          default: 10
          title: Limit
        description: Maximum number of transactions to return.
      - name: transferMethod
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/BankingTransactionMethod'
          - type: 'null'
          description: Filter to a specific transfer method.
          title: Transfermethod
        description: Filter to a specific transfer method.
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/TransactionStatus'
          - type: 'null'
          description: Filter to one or more transaction statuses. Repeat the parameter
            to pass multiple values (e.g. `?status=PENDING&status=POSTED`). `AUTHORIZATION`
            and `MEMO` are accepted but currently return no results.
          title: Status
        description: Filter to one or more transaction statuses. Repeat the parameter
          to pass multiple values (e.g. `?status=PENDING&status=POSTED`). `AUTHORIZATION`
          and `MEMO` are accepted but currently return no results.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:transactions
  /accounts/{account_id}/balances:
    get:
      tags:
      - Balances
      summary: List Balances for an Account
      description: Returns a list of balances for a specified account.
      operationId: list_account_balances_accounts__account_id__balances_get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: startTime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 0
            maxLength: 100
          - type: 'null'
          description: Start time for filtering balances, in ISO 8601 format. Also
            accepts `start_date` for backwards compatibility.
          title: Starttime
        description: Start time for filtering balances, in ISO 8601 format. Also accepts
          `start_date` for backwards compatibility.
      - name: endTime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 0
            maxLength: 100
          - type: 'null'
          description: End time for filtering balances, in ISO 8601 format. Also accepts
            `end_date` for backwards compatibility.
          title: Endtime
        description: End time for filtering balances, in ISO 8601 format. Also accepts
          `end_date` for backwards compatibility.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balances'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:balances
  /accounts/{account_id}/payment-networks:
    get:
      tags:
      - Payment Networks
      summary: List Payment Networks for an Account
      description: Returns the payment networks supported by a specified account.
      operationId: list_account_payment_networks_accounts__account_id__payment_networks_get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Offset
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentNetworkList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:payment-networks
  /accounts/{account_id}/usdc:
    post:
      tags:
      - Transfers
      summary: Create USDC Transaction (Legacy)
      description: Legacy endpoint for USDC transactions. Requires the `transfers:usdc:write`
        scope. For new integrations, use `POST /accounts/{account_id}/crypto` with
        `currency` in the request body.
      operationId: create_usdc_transaction_accounts__account_id__usdc_post
      deprecated: true
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUSDCTransactionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUSDCTransactionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - transfers:usdc:write
  /accounts/{account_id}/crypto:
    post:
      tags:
      - Transfers
      summary: Create Crypto Transaction
      description: 'Creates a new crypto transaction from a specified account. The
        currency and network are determined automatically from the destination''s
        payment method. Provide exactly one of `static_memo_id` or `crypto_id` to
        identify the destination:


        - **`static_memo_id`**: Use the ID from the contact''s `payment_methods.static_memos`
        array. Required for traditional banking accounts; also supported for wallet
        accounts.

        - **`crypto_id`**: Use the ID from the contact''s `payment_methods.crypto`
        array. Only supported for wallet accounts.


        Supported currencies: `usdc`, `usdt`, `pyusd`, `cash`, `usdg`.


        Requires the `transfers:crypto:write` scope. Use this endpoint for all crypto
        transfers. The legacy `/usdc` endpoint is deprecated.'
      operationId: create_crypto_transaction_accounts__account_id__crypto_post
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoTransactionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCryptoTransactionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - transfers:crypto:write
  /accounts/{account_id}/book:
    post:
      tags:
      - Transfers
      summary: Create Book Transfer
      description: Creates a new internal book transfer between bank accounts.
      operationId: create_book_transfer_accounts__account_id__book_post
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookTransferRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBookTransferResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - transfers:book:write
  /accounts/{account_id}/ach:
    post:
      tags:
      - Transfers
      summary: Create ACH Transfer
      description: Creates a new ACH transfer to an external counterparty.
      operationId: create_ach_transfer_accounts__account_id__ach_post
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAchTransferRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAchTransferResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - transfers:ach:write
  /accounts/{account_id}/ach/scheduled:
    post:
      tags:
      - Transfers
      summary: Create Scheduled ACH Transfer
      description: Creates a new scheduled ACH transfer to an external counterparty.
      operationId: create_scheduled_ach_transfer_accounts__account_id__ach_scheduled_post
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledAchTransferRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateScheduledAchTransferResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - transfers:ach:write
    get:
      tags:
      - Transfers
      summary: List Scheduled ACH Transfers
      description: Returns a list of scheduled ACH transfers for a specified account.
      operationId: list_scheduled_ach_transfers_accounts__account_id__ach_scheduled_get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 10
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            maxLength: 100
          - type: 'null'
          description: Opaque offset identifier for pagination. Use the nextOffset
            from a previous response.
          title: Offset
        description: Opaque offset identifier for pagination. Use the nextOffset from
          a previous response.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAchTransfers'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:transactions
  /accounts/{account_id}/wire:
    post:
      tags:
      - Transfers
      summary: Create Wire Transfer
      description: Creates a new wire transfer to an external counterparty.
      operationId: create_wire_transfer_accounts__account_id__wire_post
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWireTransferRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWireTransferResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - transfers:wire:write
  /accounts/{account_id}/transactions/{transaction_id}:
    get:
      tags:
      - Transfers
      summary: Get USDC Transaction (Legacy)
      description: Legacy endpoint for retrieving USDC transaction details. For new
        integrations, use `GET /accounts/{account_id}/crypto/{transaction_id}`.
      operationId: get_usdc_transaction_accounts__account_id__transactions__transaction_id__get
      deprecated: true
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the USDC transaction.
          title: Transaction Id
        description: The ID of the USDC transaction.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUSDCTransactionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:transactions
  /accounts/{account_id}/crypto/{transaction_id}:
    get:
      tags:
      - Transfers
      summary: Get Crypto Transaction
      description: Returns details about a crypto transaction by transaction ID, including
        the status of an outgoing crypto transfer after it has been initiated.
      operationId: get_crypto_transaction_accounts__account_id__crypto__transaction_id__get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the crypto transaction.
          title: Transaction Id
        description: The ID of the crypto transaction.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCryptoTransactionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:transactions
  /accounts/{account_id}/check-deposits/{transaction_id}:
    get:
      tags:
      - Transactions
      summary: Get Check Deposit
      description: Returns details about a check deposit for the specified account
        by transaction ID. Includes check number and originating bank details useful
        for reconciliation.
      operationId: get_check_deposit_accounts__account_id__check_deposits__transaction_id__get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
          description: The transaction group ID for the check deposit (e.g. deposit_ttx_...).
          title: Transaction Id
        description: The transaction group ID for the check deposit (e.g. deposit_ttx_...).
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckDepositResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:transactions
  /accounts/{account_id}/wires/{wire_transfer_id}:
    get:
      tags:
      - Transfers
      summary: Get Wire Transfer
      description: Returns details about a wire transfer (incoming or outgoing) for
        the specified account by wire transfer ID, including the status of an outgoing
        wire after it has been initiated.
      operationId: get_wire_transfer_accounts__account_id__wires__wire_transfer_id__get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: wire_transfer_id
        in: path
        required: true
        schema:
          type: string
          description: The transaction group ID for the wire transfer.
          title: Wire Transfer Id
        description: The transaction group ID for the wire transfer.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTransferResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:transactions
  /accounts/{account_id}/achs/{ach_transfer_id}:
    get:
      tags:
      - Transfers
      summary: Get ACH Transfer
      description: Returns details about an ACH transfer (incoming or outgoing) for
        the specified account by ACH transfer ID, including the status of an outgoing
        ACH transfer after it has been initiated.
      operationId: get_ach_transfer_accounts__account_id__achs__ach_transfer_id__get
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the account.
          title: Account Id
        description: The ID of the account.
      - name: ach_transfer_id
        in: path
        required: true
        schema:
          type: string
          description: The transaction group ID for the ACH transfer (e.g. `withdrawal_ach_...`),
            or the ACH ID returned when you created the transfer (e.g. `ach_...`).
          title: Ach Transfer Id
        description: The transaction group ID for the ACH transfer (e.g. `withdrawal_ach_...`),
          or the ACH ID returned when you created the transfer (e.g. `ach_...`).
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchTransferResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:transactions
  /billing/products:
    get:
      tags:
      - Products
      summary: List Products
      description: Returns a list of all products to be used with invoicing.
      operationId: list_products_billing_products_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceProductResponse'
                type: array
                title: Response List Products Billing Products Get
      security:
      - apiKeyAuth:
        - billing:products:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
    post:
      tags:
      - Products
      summary: Create Product
      description: Creates a new product.
      operationId: create_product_billing_products_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceProductResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:products:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /billing/products/{product_id}:
    get:
      tags:
      - Products
      summary: Get Product by ID
      description: Returns a product by its ID.
      operationId: get_product_billing_products__product_id__get
      parameters:
      - name: product_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Product Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceProductResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:products:read
  /billing/customers:
    get:
      tags:
      - Customers
      summary: List Invoicing Customers
      description: Returns a list of all invoicing customers.
      operationId: list_invoicing_customers_billing_customers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoicingCustomer'
                type: array
                title: Response List Invoicing Customers Billing Customers Get
      security:
      - apiKeyAuth:
        - billing:customers:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
    post:
      tags:
      - Customers
      summary: Create Invoicing Customer
      description: Creates a new invoicing customer.
      operationId: create_invoicing_customer_billing_customers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoicingCustomerRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicingCustomer'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:customers:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /billing/customers/{customer_id}:
    get:
      tags:
      - Customers
      summary: Get Invoicing Customer by ID
      description: Returns an invoicing customer by their ID.
      operationId: get_invoicing_customer_billing_customers__customer_id__get
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Customer Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicingCustomer'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:customers:read
  /billing/payment-method-types:
    get:
      tags:
      - Payment Methods
      summary: Get Payment Method Types
      description: Returns the payment method types available to you.
      operationId: get_payment_method_types_billing_payment_method_types_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodTypes'
      security:
      - apiKeyAuth:
        - billing:invoices:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /billing/invoices:
    get:
      tags:
      - Invoices
      summary: List Invoices
      description: Lists all invoices.
      operationId: list_invoices_billing_invoices_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Invoice'
                type: array
                title: Response List Invoices Billing Invoices Get
      security:
      - apiKeyAuth:
        - billing:invoices:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
    post:
      tags:
      - Invoices
      summary: Create Invoice
      description: Creates a new invoice.
      operationId: create_invoice_billing_invoices_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:invoices:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /billing/invoices/{invoice_id}:
    get:
      tags:
      - Invoices
      summary: Get Invoice
      description: Gets an invoice by ID.
      operationId: get_invoice_billing_invoices__invoice_id__get
      parameters:
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Invoice Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:invoices:read
  /billing/invoices/{invoice_id}/download:
    get:
      tags:
      - Invoices
      summary: Download Invoice PDF
      description: Downloads an invoice as a PDF file.
      operationId: download_invoice_pdf_billing_invoices__invoice_id__download_get
      parameters:
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The unique identifier of the invoice to download.
          title: Invoice Id
        description: The unique identifier of the invoice to download.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: The invoice as a PDF file. Returns binary data (raw bytes).
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              example: Binary PDF content
          headers:
            Content-Disposition:
              description: The `Content-Disposition` header that triggers a file download
                with the invoice filename.
              schema:
                type: string
                example: attachment; filename="Invoice - INV-2024-001.pdf"
        '404':
          description: Invoice not found.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  code:
                    type: integer
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:invoices:read
  /billing/invoices/{invoice_id}/line-items:
    get:
      tags:
      - Line Items
      summary: List Invoice Line Items
      description: Returns all line items associated with a specific invoice.
      operationId: List_Invoice_Line_Items_billing_invoices__invoice_id__line_items_get
      parameters:
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Invoice Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LineItem'
                title: Response List Invoice Line Items Billing Invoices  Invoice
                  Id  Line Items Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:invoices:read
  /billing/invoices/{invoice_id}/line-items/{line_item_id}:
    get:
      tags:
      - Line Items
      summary: Get Invoice Line Item
      description: Returns a specific line item by ID for a given invoice.
      operationId: Get_Invoice_Line_Item_billing_invoices__invoice_id__line_items__line_item_id__get
      parameters:
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Invoice Id
      - name: line_item_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Line Item Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItem'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billing:invoices:read
  /billing/accounts:
    get:
      tags:
      - Collection Accounts
      summary: List Collection Accounts
      description: Returns the collection accounts you can use to collect invoice
        payments. Only open, unlocked accounts are returned, with your primary account
        first.
      operationId: list_billing_accounts_billing_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccounts'
      security:
      - apiKeyAuth:
        - billing:accounts:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /routing-numbers/{routing_number}:
    get:
      tags:
      - Routing Numbers
      summary: Validate Routing Number
      description: Validates a routing number and returns bank information including
        name, address, and supported payment methods (ACH/Wire).
      operationId: validate_routing_number_routing_numbers__routing_number__get
      parameters:
      - name: routing_number
        in: path
        required: true
        schema:
          type: string
          minLength: 9
          maxLength: 9
          title: Routing Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingNumber'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:read
  /bills:
    get:
      tags:
      - Bills
      summary: List Bills
      description: Returns a paginated list of bills with optional status filtering.
      operationId: List_Bills_bills_get
      parameters:
      - name: statuses
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/BillStatusEnum'
          - type: 'null'
          title: Statuses
      - name: contact_id
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
              format: uuid
          - type: 'null'
          title: Contact Id
      - name: amount_min
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          - type: 'null'
          title: Amount Min
      - name: amount_max
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          - type: 'null'
          title: Amount Max
      - name: bill_date_from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Bill Date From
      - name: bill_date_to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Bill Date To
      - name: due_date_from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Due Date From
      - name: due_date_to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Due Date To
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: sort_by
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/BillSortEnum'
          - type: 'null'
          title: Sort By
      - name: sort_descending
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Sort Descending
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 10
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            maxLength: 100
          - type: 'null'
          description: Opaque offset identifier for pagination. Use the nextOffset
            from a previous response.
          title: Offset
        description: Opaque offset identifier for pagination. Use the nextOffset from
          a previous response.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billpay:read
    post:
      tags:
      - Bills
      summary: Create Bill
      description: Creates a bill as a draft for approval. The bill is not paid until
        someone approves it in the Meow dashboard; this never moves money on its own.
      operationId: create_bill
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billpay:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /bills/{bill_id}:
    get:
      tags:
      - Bills
      summary: Get Bill
      description: Returns details for a specific bill by ID, including all line items.
      operationId: Get_Bill_bills__bill_id__get
      parameters:
      - name: bill_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The bill ID.
          title: Bill Id
        description: The bill ID.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billpay:read
    patch:
      tags:
      - Bills
      summary: Update Bill
      description: Updates an editable bill. Only the fields you send are changed,
        and the bill stays a draft pending approval; this never moves money.
      operationId: update_bill
      parameters:
      - name: bill_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The bill ID.
          title: Bill Id
        description: The bill ID.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billpay:write
    delete:
      tags:
      - Bills
      summary: Delete Bill
      description: Cancels a bill that has not yet been approved. Approved or paid
        bills cannot be deleted here.
      operationId: delete_bill
      parameters:
      - name: bill_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The bill ID.
          title: Bill Id
        description: The bill ID.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billpay:write
  /bills/{bill_id}/documents/presigned-urls:
    post:
      tags:
      - Bills
      summary: Create Bill Document Upload URLs
      description: Returns short-lived upload URLs for attaching documents (for example,
        an invoice) to a bill. Upload each file to its URL, then call the confirm
        endpoint.
      operationId: create_bill_document_urls
      parameters:
      - name: bill_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The bill ID.
          title: Bill Id
        description: The bill ID.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillPresignedUrlRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPresignedUrlResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billpay:write
  /bills/{bill_id}/documents:
    post:
      tags:
      - Bills
      summary: Confirm Bill Documents
      description: Attaches documents to the bill after you have uploaded them to
        the URLs from the presigned-urls endpoint.
      operationId: confirm_bill_documents
      parameters:
      - name: bill_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The bill ID.
          title: Bill Id
        description: The bill ID.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillConfirmUploadRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - billpay:write
  /cards:
    post:
      tags:
      - Cards
      summary: Create Card
      description: Creates a virtual card scoped to a single merchant and spend limit.
        Set `single_use` to `true` (default) for a one-shot card that auto-cancels
        after the first authorization, or `false` for a multi-use card that stays
        active until expiry or explicit revoke. Retrieve the PAN by calling `POST
        /cards/{card_id}/pan`.
      operationId: create_card_cards_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
    get:
      tags:
      - Cards
      summary: List Cards
      description: Returns the cards you have access to. As an admin or viewer you
        see all entity cards; as a card manager you see your team's cards; as a card
        user you see only your own.
      operationId: list_cards_cards_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 10
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000000
          minimum: 0
          default: 0
          title: Offset
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Query
      - name: statuses
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/CardStatus'
          - type: 'null'
          title: Statuses
      - name: card_types
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CardFormFactor'
          default: []
          title: Card Types
      - name: from_created_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: From Created Time
      - name: to_created_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: To Created Time
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeowPaginatedList_CardResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:read
  /cards/payment-token:
    post:
      tags:
      - Cards
      summary: Create Payment Token
      description: Creates a Shared Payment Token for merchants that support the Agentic
        Commerce Protocol. Returns a token string, not full card details. Use a payment
        token instead of a card when the merchant accepts one. This endpoint is not
        yet available.
      operationId: create_payment_token_cards_payment_token_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentTokenRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:write
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /cards/{card_id}/revoke:
    post:
      tags:
      - Cards
      summary: Revoke Card
      description: Immediately revoke a card. Revoke a card whose purchase failed
        to close it before it expires.
      operationId: revoke_card_cards__card_id__revoke_post
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Card Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeCardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:write
  /cards/{card_id}/pan:
    post:
      tags:
      - Cards
      summary: Get Card PAN
      description: Returns the full card number (PAN), CVC, and expiration for a card
        created via the API. Requires the `cards:write` scope. Pass the `card_id`
        returned by Create Card. This can be called only once per card; subsequent
        calls return an error. Revoke and recreate the card if the PAN is needed again.
      operationId: get_card_pan_cards__card_id__pan_post
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Card Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPanResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:write
  /cards/transactions:
    get:
      tags:
      - Cards
      summary: List Card Transactions
      description: Returns transactions for cards you have access to. Supports filtering
        by card, date range, status, merchant, and amount.
      operationId: list_card_transactions_cards_transactions_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 10
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000000
          minimum: 0
          default: 0
          title: Offset
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 1
            maxLength: 140
          - type: 'null'
          title: Query
      - name: merchant_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 1
            maxLength: 140
          - type: 'null'
          title: Merchant Name
      - name: merchant_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
              format: uuid
          - type: 'null'
          title: Merchant Ids
      - name: cardholder_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 1
            maxLength: 140
          - type: 'null'
          title: Cardholder Name
      - name: cardholder_emails
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
              format: email
          - type: 'null'
          title: Cardholder Emails
      - name: card_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Card Id
      - name: card_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
              format: uuid
          - type: 'null'
          title: Card Ids
      - name: card_nickname
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 1
            maxLength: 140
          - type: 'null'
          title: Card Nickname
      - name: card_is_physical
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Card Is Physical
      - name: card_last_4
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 1
            maxLength: 4
          - type: 'null'
          title: Card Last 4
      - name: from_original_created_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: From Original Created Time
      - name: to_original_created_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: To Original Created Time
      - name: statuses
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ExtAwxCardTransactionStatus'
          - type: 'null'
          title: Statuses
      - name: is_missing_requirements
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Missing Requirements
      - name: sort_by
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AwxTransactionSortEnum'
          default: ORIGINAL_CREATED_TIME
      - name: is_ascending
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Is Ascending
      - name: network_transaction_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Network Transaction Id
      - name: amount_min
        in: query
        required: false
        schema:
          anyOf:
          - type: number
            maximum: 1000000000.0
            minimum: 0.0
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d{0,2}0*$
          - type: 'null'
          title: Amount Min
      - name: amount_max
        in: query
        required: false
        schema:
          anyOf:
          - type: number
            maximum: 1000000000.0
            minimum: 0.0
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d{0,2}0*$
          - type: 'null'
          title: Amount Max
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeowPaginatedList_AwxCardTransactionBusinessResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:read
  /cards/insights:
    get:
      tags:
      - Cards
      summary: Get Card Spending Insights
      description: 'Returns entity-wide spending analytics for your entity: total
        spend, cashback earned, top merchants, top expenses, and weekly trends. Requires
        admin, viewer, or card manager access.'
      operationId: get_card_insights_cards_insights_get
      parameters:
      - name: from_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: From Date
      - name: to_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: To Date
      - name: limit_top_expenses
        in: query
        required: false
        schema:
          type: integer
          maximum: 25
          minimum: 1
          default: 5
          title: Limit Top Expenses
      - name: limit_top_merchants
        in: query
        required: false
        schema:
          type: integer
          maximum: 25
          minimum: 1
          default: 5
          title: Limit Top Merchants
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwxCardInsightsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:read
  /cards/{card_id}:
    get:
      tags:
      - Cards
      summary: Get Card
      description: Returns details of a specific card you have access to.
      operationId: get_card_cards__card_id__get
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Card Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:read
    patch:
      tags:
      - Cards
      summary: Update Card
      description: Updates a card you created via the API. Freeze or unfreeze it with
        the `status` field, replace its spend limits with `spending_controls`, or
        change its allowed merchant categories. All fields are optional; omitted fields
        are left unchanged.
      operationId: update_card_cards__card_id__patch
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Card Id
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:write
  /cards/{card_id}/details:
    get:
      tags:
      - Cards
      summary: Get Card Details
      description: 'Returns operational details of a card: billing address, delivery
        address, linked banking account, and shipping tracking URL.'
      operationId: get_card_details_cards__card_id__details_get
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Card Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDetailsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - cards:read
  /security-policies:
    get:
      tags:
      - Security Policies
      summary: List Security Policies
      description: Returns the security policies configured for your entity, including
        the required approvers and quorum for each.
      operationId: list_security_policies_security_policies_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 10
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            maxLength: 100
          - type: 'null'
          description: Opaque offset identifier for pagination. Use the nextOffset
            from a previous response.
          title: Offset
        description: Opaque offset identifier for pagination. Use the nextOffset from
          a previous response.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApiSecurityPoliciesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:read
  /approvals/{approval_id}:
    get:
      tags:
      - Approvals
      summary: Get Approval
      description: Returns the status and details of an approval request, including
        how many approvals are required and how many have been received.
      operationId: get_approval_approvals__approval_id__get
      parameters:
      - name: approval_id
        in: path
        required: true
        schema:
          type: string
          title: Approval Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:read
  /tax-forms:
    get:
      tags:
      - Tax Forms
      summary: Search Tax Forms
      description: Returns IRS tax forms (the 1099 family) issued for the specified
        account. Currently supports `Tax1099Int` for bank accounts; brokerage and
        wallet accounts return an empty list until additional form types are exposed.
      operationId: search_tax_forms_tax_forms_get
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
          description: The account ID to list tax forms for.
          title: Accountid
        description: The account ID to list tax forms for.
      - name: taxYear
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Optional filter to a specific tax year.
          title: Taxyear
        description: Optional filter to a specific tax year.
      - name: taxForms
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/TaxFormType'
          - type: 'null'
          description: Filter to one or more form types, such as `Tax1099Int` or `Tax1099Div`.
            Repeat the parameter to pass several.
          title: Taxforms
        description: Filter to one or more form types, such as `Tax1099Int` or `Tax1099Div`.
          Repeat the parameter to pass several.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFormList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:tax-documents
  /tax-forms/{taxFormId}:
    get:
      tags:
      - Tax Forms
      summary: Retrieve Tax Form
      description: Returns a time-limited download URL for the tax form. Use a `taxFormId`
        from the search endpoint; the value is opaque, so do not construct it yourself.
      operationId: get_tax_form_tax_forms__taxFormId__get
      parameters:
      - name: taxFormId
        in: path
        required: true
        schema:
          type: string
          description: The tax form ID. Use a value from the search endpoint; it is
            opaque, so do not construct it yourself.
          title: Taxformid
        description: The tax form ID. Use a value from the search endpoint; it is
          opaque, so do not construct it yourself.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFormDownload'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - accounts:tax-documents
  /webhooks/subscriptions:
    post:
      tags:
      - Webhooks
      summary: Create Webhook Subscription
      description: Creates a webhook subscription for your entity and returns it along
        with the signing secret. The secret is returned only once, so store it now
        to verify delivery signatures.
      operationId: create_subscription_webhooks_subscriptions_post
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: A unique key you supply in the `Idempotency-Key` header (1-50
            characters). Keys are scoped to the webhook owner across all webhook POST
            endpoints. Reusing a key for the same owner returns 400.
          title: Idempotency-Key
        description: A unique key you supply in the `Idempotency-Key` header (1-50
          characters). Keys are scoped to the webhook owner across all webhook POST
          endpoints. Reusing a key for the same owner returns 400.
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookSubscriptionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionWithSecretResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:write
    get:
      tags:
      - Webhooks
      summary: List Webhook Subscriptions
      description: Returns the webhook subscriptions configured for your entity.
      operationId: list_subscriptions_webhooks_subscriptions_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscriptionResponse'
                title: Response List Subscriptions Webhooks Subscriptions Get
      security:
      - apiKeyAuth:
        - webhooks:read
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
  /webhooks/subscriptions/{subscription_id}:
    patch:
      tags:
      - Webhooks
      summary: Update Webhook Subscription
      description: Updates a webhook subscription. Returns the updated subscription,
        including a new signing secret when you request a rotation.
      operationId: update_subscription_webhooks_subscriptions__subscription_id__patch
      parameters:
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Subscription Id
      - $ref: '#/components/parameters/EntityIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookSubscriptionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/WebhookSubscriptionResponse'
                - $ref: '#/components/schemas/WebhookSubscriptionWithSecretResponse'
                title: Response Update Subscription Webhooks Subscriptions  Subscription
                  Id  Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:write
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook Subscription
      description: Deletes a webhook subscription. Its delivery history stays queryable
        so you can review past attempts.
      operationId: delete_subscription_webhooks_subscriptions__subscription_id__delete
      parameters:
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Subscription Id
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:write
  /webhooks/subscriptions/{subscription_id}/test:
    post:
      tags:
      - Webhooks
      summary: Send Test Webhook Event
      description: Sends a test event to a webhook subscription and queues it for
        delivery so you can verify your endpoint and signature handling.
      operationId: send_test_event_webhooks_subscriptions__subscription_id__test_post
      parameters:
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Subscription Id
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: A unique key you supply in the `Idempotency-Key` header (1-50
            characters). Keys are scoped to the webhook owner across all webhook POST
            endpoints. Reusing a key for the same owner returns 400.
          title: Idempotency-Key
        description: A unique key you supply in the `Idempotency-Key` header (1-50
          characters). Keys are scoped to the webhook owner across all webhook POST
          endpoints. Reusing a key for the same owner returns 400.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTestEventResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:write
  /webhooks/deliveries/{delivery_id}/redrive:
    post:
      tags:
      - Webhooks
      summary: Redrive Webhook Delivery
      description: Re-queues a failed webhook delivery for another attempt. A delivery
        that already succeeded or is currently being attempted cannot be redriven.
      operationId: redrive_delivery_webhooks_deliveries__delivery_id__redrive_post
      parameters:
      - name: delivery_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Delivery Id
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: A unique key you supply in the `Idempotency-Key` header (1-50
            characters). Keys are scoped to the webhook owner across all webhook POST
            endpoints. Reusing a key for the same owner returns 400.
          title: Idempotency-Key
        description: A unique key you supply in the `Idempotency-Key` header (1-50
          characters). Keys are scoped to the webhook owner across all webhook POST
          endpoints. Reusing a key for the same owner returns 400.
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRedriveResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:write
  /webhooks/deliveries/{delivery_id}/attempts:
    get:
      tags:
      - Webhooks
      summary: List Webhook Delivery Attempts
      description: Returns the individual delivery attempts for a webhook delivery,
        including the response status of each attempt.
      operationId: list_delivery_attempts_webhooks_deliveries__delivery_id__attempts_get
      parameters:
      - name: delivery_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Delivery Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryAttemptsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:read
  /webhooks/deliveries:
    get:
      tags:
      - Webhooks
      summary: List Webhook Deliveries
      description: Returns the webhook deliveries for your entity across all subscriptions,
        most recent first.
      operationId: list_deliveries_webhooks_deliveries_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:read
  /webhooks/global/subscriptions:
    post:
      tags:
      - Webhooks
      summary: Create Global Webhook Subscription
      description: Creates a webhook subscription for every entity your global API
        key's user administers, including entities added later.
      operationId: create_global_subscription_webhooks_global_subscriptions_post
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: A unique key you supply in the `Idempotency-Key` header (1-50
            characters). Keys are scoped to the webhook owner across all webhook POST
            endpoints. Reusing a key for the same owner returns 400.
          title: Idempotency-Key
        description: A unique key you supply in the `Idempotency-Key` header (1-50
          characters). Keys are scoped to the webhook owner across all webhook POST
          endpoints. Reusing a key for the same owner returns 400.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookSubscriptionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionWithSecretResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - apiKeyAuth:
        - webhooks:write
    get:
      tags:
      - Webhooks
      summary: List Global Webhook Subscriptions
      description: Returns webhook subscriptions configured for your global API key
        user.
      operationId: list_global_subscriptions_webhooks_global_subscriptions_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscriptionResponse'
                title: Response List Global Subscriptions Webhooks Global Subscriptions
                  Get
      security:
      - apiKeyAuth:
        - webhooks:read
  /webhooks/global/subscriptions/{subscription_id}:
    patch:
      tags:
      - Webhooks
      summary: Update Global Webhook Subscription
      description: Updates a global webhook subscription. Returns the updated subscription,
        including a new signing secret when you request a rotation.
      operationId: update_global_subscription_webhooks_global_subscriptions__subscription_id__patch
      parameters:
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Subscription Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookSubscriptionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/WebhookSubscriptionResponse'
                - $ref: '#/components/schemas/WebhookSubscriptionWithSecretResponse'
                title: Response Update Global Subscription Webhooks Global Subscriptions  Subscription
                  Id  Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
[...]
